[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Bernadette"]
	path = Bernadette
	url = https://github.com/bernadette-eu/bernadette
